include mixins
doctype
html( lang="en" )
    head
        title Asio Security Client Map View
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='' )
        //- Bootswatch Theme (either yeti or sandstone)
        +bootswatch("sandstone")
        block head
 
    body(style="padding-bottom:10rem;")
        .container
            +nav("Asio Security Client Map View", "dropdown-menu")
                block details
                    +nav_header
        .container
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

        block content