extends layout

block details
	+nav_header
	+nav_item( "/" ) Home
	+nav_item( "/support" ) Support
	+nav_item( "/login" ) Admin Login
	+nav_item ( "/secure" , "active" ) Secure Content
block content
	.container
		
